.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
}

.input {
  margin: 5vh 5vw;
  min-width: 40%;
  max-width: 40%;
  min-height: 40%;
  max-height: 40%;
}

.output {
  margin: 5vh 5vw;
  min-width: 40%;
  max-width: 40%;
  min-height: 40%;
  max-height: 40%;
  color: #282c34;
  background-color: azure;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
