.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.input {
  margin: 2vh 2vw;
}

#textarea-input {
  resize: none;
  min-width: 40vw;
  min-height: 70vh;
  max-width: 40vw;
  max-width: 70vh;
}

.output {
  font-size: calc(10px + 1vmin);
  margin: 2vh 2vw;
  /* overflow-y: auto; */
}

.reactmarkdown {
  text-align: left;
  overflow-y: auto;
  min-width: 40vw;
  min-height: 70vh;
  max-width: 40vw;
  max-width: 70vh;
}
