.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0vh 10vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  padding-top: 5vh;
}

.header-title {
  justify-content: flex-start;
}

.header-menu {
  justify-content: flex-end;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main-input {
  padding: 2vh 1vw;
}

.main-output {
  font-size: calc(8px + 1vmin);
  padding: 0 1vw;
}

.main-reactmarkdown {
  text-align: left;
  overflow-y: auto;
  min-width: 40vw;
  min-height: 70vh;
  max-width: 40vw;
  max-width: 70vh;
}

.footer {
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding-bottom: 5vh; */
}

.footer-menu {
}
